.about {}

.about nav {
    display: flex;
    gap: 10px;
    margin-bottom: 2rem;
}

.about .dynamic-cmps {
    width: max-content;
}


.about .dynamic-cmps:active {
    scale: 0.97;
    transition: scale .15s;
}

.about .dynamic-cmps h1 {
    cursor: pointer;

}

.about .dynamic-cmps h1::selection {
    display: none;
}